<template>
  <div class="body">
    <section
      class="container"
      :style="`--per:${percent};`"
      @mouseenter="mouseenter"
      @mousemove="mousemove"
      @mouseout="mouseout"
    >
      <div class="view">
        <img
          src="https://assets.codepen.io/2002878/bilibili-winter-view-1.jpg"
          class="morning"
          alt=""
        />
        <img
          src="https://assets.codepen.io/2002878/bilibili-winter-view-2.jpg"
          class="afternoon"
          alt=""
        />
        <video autoplay loop muted class="evening">
          <source
            src="https://assets.codepen.io/2002878/bilibili-winter-view-3.webm"
            type="video/webm"
          />
        </video>

        <img
          src="https://assets.codepen.io/2002878/bilibili-winter-view-3-snow.png"
          class="window-snow"
          alt=""
        />
      </div>

      <div class="tree">
        <img
          src="https://assets.codepen.io/2002878/bilibili-winter-tree-1.png"
          class="morning"
          alt=""
        />
        <img
          src="https://assets.codepen.io/2002878/bilibili-winter-tree-2.png"
          class="afternoon"
          alt=""
        />
        <img
          src="https://assets.codepen.io/2002878/bilibili-winter-tree-3.png"
          class="evening"
          alt=""
        />
      </div>
      <canvas id="canvas" class="snow"></canvas>
    </section>

    <section
      class="m-20 container2"
      :style="`--per:${percent2};`"
      @mousemove="mousemove2"
    >
      <div class="view">
        <img src="./images/kotisaari-1.jpg" class="spring" alt="" />
        <img src="./images/kotisaari-2.jpg" class="summer" alt="" />
        <img src="./images/kotisaari-3.jpg" class="autumn" alt="" />
        <img src="./images/kotisaari-4.jpg" class="winter" alt="" />
      </div>
    </section>
  </div>
</template>

<script>
import { Snow } from './canvasSnow';

export default {
  data() {
    return {
      start: 0,
      percent: 0,

      percent2: 0
    };
  },
  mounted() {
    let snow = new Snow();
    snow.init();
  },
  methods: {
    mouseenter(e) {
      this.start = e.clientX;
    },
    mousemove(e) {
      // console.log(e);
      // console.warn(window.innerWidth);
      this.percent = (e.clientX - this.start) / innerWidth + 0.5;
    },
    mouseout() {
      this.percent = 0.5;
    },

    /**
     * 每0.25应该隐藏一个图片，持续有效0.1
     * @param  {[type]} e [description]
     * @return {[type]}   [description]
     */
    mousemove2(e) {
      this.percent2 = e.offsetY / 750;
      console.error(e.offsetY, this.percent2);
    }
  }
};
</script>

<style lang="less" scoped>
.m-20 {
  margin: 20px;
}
.body {
  width: 100vw;
  height: 100vh;
}
.container {
  position: relative;
  height: 160px;
  overflow: hidden;
  .view,
  .tree {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view {
    transform: translateX(calc(var(--per) * 100px));
  }
  .tree {
    transform: translateX(calc(var(--per) * 50px));
    filter: blur(3px);
  }
  img,
  video {
    position: absolute;
    display: block;
    width: 120%;
    height: 100%;
    object-fit: cover;
  }
  .morning {
    z-index: 20;
    opacity: calc(1 - (var(--per) - 0.25) / 0.25);
  }
  .afternoon {
    z-index: 10;
    opacity: calc(1 - (var(--per) - 0.5) / 0.5);
  }
  .window-snow {
    opacity: calc((var(--per) - 0.9) / 0.1);
  }
  &:hover {
    .view,
    .tree,
    .morning,
    .afternoom {
      transition: none;
    }
  }
  .view,
  .tree,
  .morning,
  .afternoom {
    transition: 0.2s all ease-in;
  }
  .snow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.container2 {
  position: relative;
  width: 640px;
  height: 750px;
  overflow: hidden;
  .view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view {
    // transform: translateX(calc(var(--per) * 10px));
  }
  img {
    position: absolute;
    display: block;
    width: 120%;
    height: 100%;
    object-fit: cover;
  }
  .spring {
    z-index: 30;
    opacity: calc(1 - (var(--per) - 0.1) / 0.15);
  }
  .summer {
    z-index: 20;
    opacity: calc(1 - (var(--per) - 0.35) / 0.15);
  }
  .autumn {
    z-index: 10;
    opacity: calc(1 - (var(--per) - 0.6) / 0.15);
  }
}
</style>
