<template>
  <section class="container">
    <div v-for="item in 20" :key="item" class="row">
      <div class="path">
        <i class="iconfont iconiconfont31dianhua" />
        <i class="iconfont iconiconfont31shijian" />
        <i class="iconfont iconiconfont31sousuo" />
        <i class="iconfont iconiconfontcart" />
        <i class="iconfont iconiconfontdelete" />
        <i class="iconfont iconiconfontdianzan" />
        <i class="iconfont iconiconfontfeedback" />
        <i class="iconfont iconiconfontlike" />
        <i class="iconfont iconiconfont31shijian" />
        <i class="iconfont iconiconfont31sousuo" />
        <i class="iconfont iconiconfontcart" />
        <i class="iconfont iconiconfontdelete" />
        <i class="iconfont iconiconfontdianzan" />
        <i class="iconfont iconiconfontfeedback" />
        <i class="iconfont iconiconfontlike" />
        <i class="iconfont iconbussiness" />
        <i class="iconfont iconcomponent" />
        <i class="iconfont iconcode" />
        <i class="iconfont iconcopy" />
      </div>
      <div class="path">
        <i class="iconfont iconiconfont31dianhua" />
        <i class="iconfont iconiconfont31shijian" />
        <i class="iconfont iconiconfont31sousuo" />
        <i class="iconfont iconiconfontcart" />
        <i class="iconfont iconiconfontdelete" />
        <i class="iconfont iconiconfontdianzan" />
        <i class="iconfont iconiconfontfeedback" />
        <i class="iconfont iconiconfontlike" />
        <i class="iconfont iconiconfont31shijian" />
        <i class="iconfont iconiconfont31sousuo" />
        <i class="iconfont iconiconfontcart" />
        <i class="iconfont iconiconfontdelete" />
        <i class="iconfont iconiconfontdianzan" />
        <i class="iconfont iconiconfontfeedback" />
        <i class="iconfont iconiconfontlike" />
        <i class="iconfont iconbussiness" />
        <i class="iconfont iconcomponent" />
        <i class="iconfont iconcode" />
        <i class="iconfont iconcopy" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      className: 'blocks'
    };
  },
  methods: {
    handleClick() {
      this.className = 'blocks';
    }
  }
};
</script>

<style lang="less" scoped>
.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  .row {
    position: relative;
    width: 100%;
    top: -50%;
    left: -20%;
    display: flex;
    align-content: flex-start;
    padding: 10px 0;
    white-space: normal;
    transform: rotate(-30deg);
    &:nth-child(even) {
      .path {
        animation: animate3 80s linear infinite;
        animation-delay: -80s;
        &:nth-child(2) {
          animation: animate4 80s linear infinite;
          animation-delay: -40s;
        }
      }
    }
    .path {
      animation: animate 80s linear infinite;
      animation-delay: -80s;
      &:nth-child(2) {
        animation: animate2 80s linear infinite;
        animation-delay: -40s;
      }
    }
  }
  i {
    font-size: 7em;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    user-select: none;
    cursor: default;
    transition: 2s;
    &:hover {
      color: #0f0;
      text-shadow: 0 0 120px #0f0;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
</style>
