<template>
  <section class="container" @click="handleClick">
    <h2 class="txt">un<span class="span">breakable</span></h2>
    <div v-for="item in 100" :key="item" :class="className" ref="block" />
  </section>
</template>

<script>
import { translate } from './animate';

export default {
  data() {
    return {
      className: '',
      start: false
    };
  },
  mounted() {
    // translate(this.$refs.block);
  },
  methods: {
    handleClick() {
      if (this.start) {
        return false;
      }
      this.start = true;
      this.className = 'block';
      translate(this.$refs.block);
    }
  }
};
</script>

<style lang="less" scoped>
.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  .txt {
    user-select: none;
    color: #111;
    z-index: 10;
    font-size: 8em;
    line-height: 1em;
    .span {
      color: #fff;
    }
  }
  .block {
    position: absolute;
    width: 50px;
    height: 100px;
    background: #707070;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 20%);
    z-index: 1;
    // #B7B7B7#E7E7E7
  }
}
</style>
