。<template>
  <section class="container" @click="handleClick">
    <h2 v-demo:sex.a.b="998" class="txt"
      ><span class="span" style="padding-right: 20px;">元宵节快乐</span>樂</h2
    >
    <div
      v-for="item in 200"
      :key="item"
      :class="className"
      ref="block"
      :style="`z-index: ${item > 180 ? item % 5 : 1}`"
    />
  </section>
</template>

<script>
import { translate } from './animate2';

export default {
  directives: {
    demo: {
      // 指令的定义
      inserted: function(el, binding, vnode) {
        // if (el.) {}
        // el.parentNode && el.parentNode.removeChild(el)
        console.log(`---------el--------`);
        console.log({ el });
        console.log(`---------binding--------`);
        console.log(binding);
        console.log(`---------vnode--------`);
        console.log(vnode);
      }
    }
  },
  data() {
    return {
      className: 'block',
      start: false
    };
  },
  mounted() {
    // translate(this.$refs.block);
  },
  methods: {
    handleClick() {
      if (this.start) {
        return false;
      }
      this.start = true;
      this.className = 'block';
      translate(this.$refs.block);
    }
  }
};
</script>

<style lang="less" scoped>
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #df5f6a;
  display: flex;
  justify-content: center;
  align-items: center;
  .txt {
    font-family: 'Zhi Mang Xing', cursive;
    position: relative;
    z-index: 3;
    user-select: none;
    color: #df5f6a;
    font-size: 18px;
    line-height: 1em;
    .span {
      font-size: 140px;
      color: #fff;
    }
  }
  .block {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #e80202;
    box-shadow: 0 -10px 50px rgba(0, 0, 0, 20%);
    z-index: 2;
    transform: rotate(45deg);
    &::before {
      content: '';
      position: absolute;
      top: -50%;
      left: 0;
      background: #e80202;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      // box-shadow: -10px 0 50px rgba(0, 0, 0, 20%);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -50%;
      background: #e80202;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      // box-shadow: -10px 0 50px rgba(0, 0, 0, 20%);
    }
  }
}
</style>
