<template>
  <section class="container" @click="handleClick">
    <h2 class="txt">Happy birthday</h2>
  </section>
</template>

<script>
export default {
  data() {
    return {
      className: ''
    };
  },
  mounted() {
    // translate(this.$refs.block);
  },
  methods: {
    handleClick() {
      this.className = 'block';
    }
  }
};
</script>

<style lang="less" scoped>
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
.container {
  font-family: 'Just Another Hand', cursive;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./images/rain-bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  .txt {
    margin: 0;
    padding: 0;
    padding-top: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // background: #98a1a8;
    background: #bfc5c9;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    // text-transform: uppercase;
    user-select: none;
    z-index: 10;
    font-size: 16vw;
    line-height: 1.2em;
    mix-blend-mode: multiply;
    letter-spacing: 20px;
    span {
      position: relative;
      display: inline-block;
      top: -0.6em;
      font-size: 0.6em;
    }
  }
}
</style>
