<template>
  <section class="container" @click="handleClick">
    <video :autoplay="true" muted loop>
      <source src="./video/bd.mp4" type="video/mp4" />
    </video>
    <h2 class="txt">Happy<br />birthday<br /><span>background-demo</span></h2>
  </section>
</template>

<script>
export default {
  data() {
    return {
      className: ''
    };
  },
  mounted() {
    // translate(this.$refs.block);
  },
  methods: {
    handleClick() {
      this.className = 'block';
    }
  }
};
</script>

<style lang="less" scoped>
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .txt {
    margin: 0;
    padding: 0;
    padding-top: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0a1222;
    color: #fff;
    text-align: center;
    // text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    user-select: none;
    z-index: 10;
    font-size: 14vw;
    line-height: 1.2em;
    mix-blend-mode: multiply;
    letter-spacing: 20px;
    span {
      font-family: 'DotGothic16', sans-serif;
      position: relative;
      display: inline-block;
      top: -0.6em;
      font-size: 0.6em;
    }
  }
  .block {
    position: absolute;
    width: 50px;
    height: 100px;
    background: #707070;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 20%);
    z-index: 1;
    // #B7B7B7#E7E7E7
  }
}
</style>
