<template>
  <section class="container">
    <h2 class="txt" @click="handleClick">Almost Lover</h2>
    <div class="banner">
      <div
        v-for="(item, index) in list"
        :key="index"
        :class="className"
        :style="
          `animation-duration: ${item * 3}s;animation-delay: ${2 + item * 3}s;`
        "
      ></div>
    </div>
  </section>
</template>

<script>
const getRandom = (num = 0) => {
  let result = [];
  for (let i = 0; i < num; i++) {
    result.push(Math.random());
  }
  return result;
};

export default {
  data() {
    return {
      list: getRandom(100),
      className: 'blocks'
      // bg: require('./images/bg.jpg')
    };
  },
  methods: {
    handleClick() {
      this.className = 'blocks';
    }
  }
};
</script>

<style lang="less" scoped>
.container {
  position: relative;
  margin: 20px;
  width: 600px;
  height: 900px;
  background: #011;
  transform-style: preserve-3d;
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  .txt {
    line-height: 900px;
    color: #fff;
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .blocks {
      position: relative;
      display: block;
      width: 60px;
      height: 90px;
      // background: #c01;
      animation: animate 2s ease-in-out forwards;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateZ(2000px);
    background: url(./images/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 600px 900px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px);
    background: url(./images/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 600px 900px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  }
}
</style>
