<template>
  <section :class="['container', sectionName]">
    <h2 class="txt" @click="handleClick">{{ txt }}</h2>
    <div class="banner" @click="handleClick">
      <div
        v-for="(item, index) in list"
        :key="index"
        :class="className"
        :style="
          `animation-duration: ${item * 4}s;animation-delay: ${setTimeDelay(
            index,
            item
          )}s;`
        "
      />
    </div>
  </section>
</template>

<script>
const getRandom = (num = 0) => {
  let result = [];
  for (let i = 0; i < num; i++) {
    result.push(Math.random());
  }
  return result;
};

export default {
  data() {
    return {
      list: getRandom(200),
      className: '',
      sectionName: '',
      txt: 'Almost Lover'
      // bg: require('./images/bg.jpg')
    };
  },
  created() {},
  methods: {
    handleClick() {
      this.className = 'blocks';
      setTimeout(() => {
        this.sectionName = 'active';
        this.txt = 'Always Loser';
      }, 8 * 1000);
    },

    setTimeDelay(i, time) {
      if (this.sectionName) {
        return i / 10 + time;
      } else {
        return time * 2;
      }
    }
  }
};
</script>

<style lang="less" scoped>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #263238;
  transform-style: preserve-3d;
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  .txt {
    font-family: 'Dancing Script', cursive;
    line-height: 900px;
    color: #fff;
    font-size: 100px;
    // font-weight: bolder;
    letter-spacing: 10px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .blocks {
      position: relative;
      display: block;
      width: 5vw;
      height: 10vh;
      // background: #c01;
      animation: animate 2s ease-in-out forwards;
    }
  }
}

.active {
  .banner {
    .blocks {
      background: url(./images/bg2.jpg);
      background-position: center;
      background-attachment: fixed;
      background-size: 100vw 100vh;
      animation: animate2 2s ease-in-out forwards;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateZ(2000px);
    background: url(./images/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px);
    background: url(./images/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  }
}

@keyframes animate2 {
  0% {
    transform: translateZ(0px);
    background: url(./images/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(2000px);
    background: url(./images/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
</style>
