<template>
  <section class="container" @mousemove="mousemove" @click="handleMouseLeave">
    <img class="img" />
  </section>
</template>

<script>
export default {
  data() {
    return {
      // bg: require('./images/bg.jpg')
    };
  },
  methods: {
    mousemove(e) {
      // console.log(e);
      let rect = e.target.getBoundingClientRect();
      // console.log(rect);
      // let x = e.offsetX / rect.width;
      // let y = e.offsetY / rect.height;

      // e.target.style.setProperty('--x', x);
      // e.target.style.setProperty('--y', y);
      // e.target.style.setProperty('--scale', 1.5);
      // console.log(e.target.style);
      let x = e.clientX - (rect.left + Math.floor(rect.width / 2));
      let y = e.clientY - (rect.top + Math.floor(rect.height / 2));
      x = x - x * 2;
      y = y - y * 2;
      document
        .querySelector('.container')
        .style.setProperty('--x', `${x / 2}px`);
      document
        .querySelector('.container')
        .style.setProperty('--y', `${y / 2}px`);
      document.querySelector('.container').style.setProperty('--scale', 1.6);
    },
    handleMouseLeave() {
      document.querySelector('.container').style.setProperty('--x', `0`);
      document.querySelector('.container').style.setProperty('--y', `0`);
      document.querySelector('.container').style.setProperty('--scale', 1);
    }
  }
};
</script>

<style lang="less" scoped>
.container {
  --scale: 1.5;
  --y: 0;
  --x: 0;

  // width: 100vw;
  // height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  .img {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1539035104074-dee66086b5e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=2550&q=80');
    background-size: cover;
    transform: translateX(var(--x)) translateY(var(--y)) scale(var(--scale));
    background-position: calc(var(--x) * 100%) calc(var(--y) * 100%);
    transition: ease-out 0.7s;
  }
}
</style>
