<template>
  <div>
    <section class="container"> </section>
    <div class="origin">
      <img src="./images/person.jpg" />
      <img src="./images/splash.jpg" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang="less" scoped>
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('./images/person.jpg'), url('./images/splash.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
}
.origin {
  display: inline-block;
  border: 2px solid #c01;
  img {
    display: inline-block;
    height: 100px;
  }
}
</style>
