<template>
  <section class="container"> </section>
</template>

<script>
export default {
  data() {
    return {
      // bg: require('./images/bg.jpg')
    };
  },
  methods: {}
};
</script>

<style lang="less" scoped>
.container {
}
</style>
