<template>
	<section class="container">
		<div v-for="item in 1000" :key="item" class="item-point"></div>
	</section>
</template>

<script>
export default {
	data() {
		return {
			// bg: require('./images/bg.jpg')
		};
	}
};
</script>

<style lang="less" scoped>
.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	background-color: #f9f9fa;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: flex-start;
	.item-point {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 80px;
		min-height: 80px;
		// background: #000;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(./images/bg.jpg);
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
			transition: 8s;
			opacity: 0;
			border-radius: 50%;
			pointer-events: none;
		}
		&:hover::before {
			width: 300%;
			height: 300%;
			transition: 0s;
			opacity: 1;
		}
	}
}
</style>
