<template>
  <section class="container">
    <h2 class="txt">Cyberpunk</h2>
    <BtnDemo1 class="btn" @onClick="handleClick" />
    <div
      v-for="(item, index) in list"
      :key="index"
      class="block"
      :style="
        `left:${item.left}; top:${item.top}; width:${item.width}; height:${item.height}; background-position: ${item.backgroundPosition} 0;`
      "
    />
  </section>
</template>

<script>
const getRandom = (num = 0) => {
  let result = [];
  for (let i = 0; i < num; i++) {
    let item = {};
    item.left = `${Math.floor(Math.random() * 100)}vw`;
    item.top = `${Math.floor(Math.random() * 100)}vh`;
    item.width = `${Math.floor(Math.random() * 400)}px`;
    item.height = `${Math.floor(Math.random() * 50)}px`;
    item.backgroundPosition = `${Math.floor(Math.random() * 50)}px`;

    result.push(item);
  }
  return result;
};
let time = 0;

export default {
  data() {
    return {
      className: '',
      list: getRandom(40),
      timer: null
    };
  },
  mounted() {},
  methods: {
    handleClick() {
      clearInterval(this.timer);
      time = 0;
      this.timer = setInterval(() => {
        if (time >= 60) {
          clearInterval(this.timer);
        }
        time++;
        this.list = getRandom(20);
      }, 200);
      // this.className = 'block';
    }
  }
};
</script>

<style lang="less" scoped>
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.container {
  font-family: 'DotGothic16', sans-serif;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('./images/cyber-bg4.jpg');
  background-attachment: fixed;
  background-size: cover;
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
  }
  .txt {
    margin: 0;
    padding: 0;
    padding-top: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // background: #98a1a8;
    // background: #bfc5c9;
    color: rgba(255, 255, 0, 1);
    text-shadow: 0 5px 15px rgba(255, 255, 0, 0.5),
      0 5px 30px rgba(255, 255, 0, 0.5);
    text-align: center;
    // text-transform: uppercase;
    user-select: none;
    z-index: 10;
    font-size: 10vw;
    line-height: 1.2em;
    // mix-blend-mode: multiply;
    letter-spacing: 20px;
    z-index: 1;

    span {
      position: relative;
      display: inline-block;
      top: -0.6em;
      font-size: 0.6em;
    }
  }
  .block {
    position: absolute;
    background: #000;
    background: url('./images/cyber-bg4.jpg');
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
  }
}
</style>
