<template>
	<div class="btn" @click="handleClick">AvAILABLE NOW</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	methods: {
		handleClick() {
			this.$emit('onClick');
		}
	}
};
</script>

<style lang="less" scoped>
.btn {
	--slice-0: inset(50% 50% 50% 50%);
	--slice-1: inset(80% -6px 0 0);
	--slice-2: inset(50% -6px 30% 0);
	--slice-3: inset(10% -6px 85% 0);
	--slice-4: inset(40% -6px 43% 0);
	--slice-5: inset(80% -6px 5% 0);

	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
	font-family: 'Bebas Neue', cursive;
	position: relative;
	cursor: pointer;
	width: 380px;
	height: 86px;
	font-size: 36px;
	background: #fff;
	color: #fff;
	letter-spacing: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
	box-shadow: 6px 0 0 #00e6f6;
	outline: transparent;
	&::after {
		content: 'AvAILABLE NOW';
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #000;
		background: linear-gradient(
			45deg,
			transparent 3%,
			#00e6f6 3%,
			#00e6f6 5%,
			#ff013c 5%
		);
		text-shadow: -3px -3px 0 #f8f005, 3px 3px 0 #00e6f6;
		clip-path: inset(10% 6px 85% 0);
		// transform: translate(-20px, 10px);
	}
	&:hover::after {
		animation: glitch 2s infinite;
		animation-timing-function: steps(2, end);
	}
}
@keyframes glitch {
	0% {
		clip-path: var(--slice-0);
		transform: translate(0, 5px);
	}
	10% {
		clip-path: var(--slice-5);
		transform: translate(-10px, 4px);
	}
	20% {
		clip-path: var(--slice-4);
		transform: translate(10, -15px);
	}
	30% {
		clip-path: var(--slice-1);
		transform: translate(-5px, -10px);
	}
	40% {
		clip-path: var(--slice-3);
		transform: translate(10px, -20px);
	}
	50% {
		clip-path: var(--slice-2);
		transform: translate(10px, 15px);
	}
	60% {
		clip-path: var(--slice-4);
		transform: translate(10px, 0);
	}
	70% {
		clip-path: var(--slice-5);
		transform: translate(12px, 5px);
	}
	80% {
		clip-path: var(--slice-2);
		transform: translate(1px, 12px);
	}
	90% {
		clip-path: var(--slice-3);
		transform: translate(10px, 5px);
	}
	100% {
		clip-path: var(--slice-1);
		transform: translate(0, 5px);
	}
}
</style>
