<template>
	<section class="container"></section>
</template>

<style lang="less" scoped>
.container {
	margin: 20px;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	background-color: #f9f9fa;
}
</style>
