<template>
  <div class="f-col">
    <section class="container">
      <div class="loader" :style="`--size:${num};`">
        <span
          v-for="item in 20"
          :key="item"
          class="item"
          :style="`--item:${item};--color:${color};--size:${num};`"
        ></span>
      </div>
    </section>
    <!-- <el-input v-model="color" class="w-200" placeholder="请输入色值" />
    <el-input-number
      v-model="num"
      controls-position="right"
      class="w-200"
      :min="1"
      :max="100"
    /> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      color: '#0b7e00',
      num: 50
    };
  }
};
</script>

<style lang="less" scoped>
@Point-Color: #df5f6a;
@Default-Size: 80;
@Real-Color: var(--color, @Point-Color);
@Real-Size: var(--size, @Default-Size);
.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background-color: #fff;
  .f-c-c();
  .loader {
    position: relative;
    width: calc(@Real-Size * 1px);
    height: calc(@Real-Size * 1px);
    animation: animationBg 10s linear infinite;
    .item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(calc(-18deg * var(--item)));
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(@Real-Size * 0.2px);
        height: calc(@Real-Size * 0.2px);
        border-radius: 50%;
        background: @Real-Color;
        box-shadow: 0 0 calc(@Real-Size * 0.2px) @Real-Color,
          0 0 calc(@Real-Size * 0.4px) @Real-Color,
          0 0 calc(@Real-Size * 0.6px) @Real-Color,
          calc(@Real-Size * 0.8px) @Real-Color,
          calc(@Real-Size * 0.9px) @Real-Color;
        animation: animate 2s linear infinite calc(-0.1s * var(--item));
      }
    }
  }
}

@keyframes animationBg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}

.w-200 {
  width: 200px;
}
.f-col {
  display: flex;
  flex-direction: column;
}
</style>
