<template>
	<el-collapse v-model="activeNames">
		<!-- 				<el-collapse-item title="loading-加载样式" name="1">
			<loading-demo1 />
		</el-collapse-item> -->
		<el-collapse-item title="shiny-glass-毛玻璃样式" name="1">
			<el-button @click="handleToPage('/shiny-glass_1')">毛玻璃样式</el-button>
		</el-collapse-item>
		<el-collapse-item title="Text-文字特效" name="2">
			<el-button @click="handleToPage('/Txt1')">烟雾消失</el-button>
			<el-button @click="handleToPage('/Txt2')">代码输入</el-button>
		</el-collapse-item>
		<el-collapse-item title="background-背景样式" name="3">
			<el-button @click="handleToPage('/Bg1')">气泡(移动鼠标)</el-button>
			<el-button @click="handleToPage('/Bg3')">拼接图片(点击鼠标)</el-button>
			<el-button @click="handleToPage('/Bg4')">自动图标移动</el-button>
			<el-button @click="handleToPage('/Bg5')"
				>动画背景(点击鼠标)[AnimeJs]</el-button
			>
			<el-button @click="handleToPage('/Bg6')">视频文字</el-button>
			<el-button @click="handleToPage('/Bg7')">雨后镜文字</el-button>
			<el-button @click="handleToPage('/Bg8')"
				>赛博朋克故障风(点击鼠标)</el-button
			>
			<el-button @click="handleToPage('/Bg9')">双重曝光图片</el-button>
			<el-button @click="handleToPage('/Bg11')"
				>仿B站冬季header(电脑网页打开)</el-button
			>
			<el-button @click="handleToPage('/Bg12')">放大镜模式</el-button>
		</el-collapse-item>
	</el-collapse>
</template>

<script>
export default {
	name: 'Index',
	data() {
		return {
			activeNames: ['3']
		};
	},
	computed: {},
	methods: {
		handleToPage(e) {
			this.$router.push({ path: e });
		}
	}
};
</script>

<style lang="scss" scoped></style>
