.container {
  background-color: #EEEEEE;
  padding: 10px 10px;
}
.bg-gray {
  background-color: #EEEEEE;
}

.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.el-drawer__body {
   overflow: auto;
}
.el-drawer__container ::-webkit-scrollbar{
    display: none;
}