<template>
	<section class="container">
		<!-- 		<div class="centent">
			<span class="active">???</span>
		</div> -->
		<div v-show="i !== 497" class="centent" :class="{ empty: i !== 497 }">
			Let others sing of Knights and Palladines,<br />
			In aged acce<span>n</span>ts, and vntimely w<span class="test">o</span
			>rds:<br />
			Paint shad<span>o</span>wes in imaginary li<span>ne</span>s,<br />
			Which well the reach of their high wits records;<br />
			<span>But</span> I must sing of thee and those faire eyes,<br />
			Autentique shall my verse in time to come,<br />
			When yet th'vnborne shall say, loe where she lyes,<br />
			Whose beautie made him speake that els was dombe.<br />
			These are the Arkes the Tropheis I erect,<br />
			That fortifie thy name against old age,<br />
			And these thy sacred vertues must protect,<br />
			Against the Darke and times consuming rage.<br />
			Though th'error of my <span>you</span>th they shall discouer,<br />
			Suffice they shew I liu'd and was thy louer.<br />
		</div>
		<div v-show="i === 497" class="target">
			No one, But you
		</div>
	</section>
</template>

<script>
const resetHtml = name => {
	const txt = document.querySelector(name);
	let result = '';
	let Nodes = txt.childNodes;
	console.warn(Nodes);
	Nodes.forEach(x => {
		if (x.nodeName === '#text') {
			let str = x.textContent.replace(
				/[\S]/g,
				`<span ${txt.attributes[0].name} class="smoke">$&</span>`
			);
			result += str;
		} else if (x.outerHTML !== undefined) {
			result += x.outerHTML;
		}
		// result += x;
		// console.log(x.outerHTML, x.nodeName);
	});
	return result;
};

export default {
	data() {
		return {
			i: 0
			// bg: require('./images/bg.jpg')
		};
	},
	mounted() {
		// var dataV = document.querySelector('.centent').attributes[0].name;
		// console.log(dataV);
		console.warn(resetHtml('.centent'));
		const txt = document.querySelector('.centent');
		txt.innerHTML = resetHtml('.centent');
		// console.log(txt.childNodes);
		// console.log(txt.textContent);
		// console.log(txt.innerHTML);
		// txt.innerHTML = txt.textContent.replace(
		// 	/\S/g,
		// 	`<span ${txt.attributes[0].name}>$&</span>`
		// );

		const letters = document.querySelectorAll('.smoke');
		for (let i = 0; i < letters.length; i++) {
			letters[i].addEventListener('mouseover', () => {
				// console.log(letters[i].classList.value.indexOf('active'));
				if (letters[i].classList.value.indexOf('active') == -1) {
					letters[i].classList.add('active');
					this.i++;
				} else {
					// console.warn('-----');
				}
				// console.log(letters[i]);
			});
			// letters[i].addEventListener('touchend', () => {
			// 	// console.log(letters[i].classList.value.indexOf('active'));
			// 	if (letters[i].classList.value.indexOf('active') == -1) {
			// 		letters[i].classList.add('active');
			// 		this.i++;
			// 	} else {
			// 		// console.warn('-----');
			// 	}
			// 	// console.log(letters[i]);
			// });
		}
	}
};
</script>

<style lang="less" scoped>
.container {
	padding: 0 6px;
	box-sizing: border-box;
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 16px;
	overflow: hidden;
	.centent {
		font-size: 1rem;
		line-height: 1.4;
		cursor: default;
		transition: opacity 1s ease-in-out;
		.text {
			color: #999;
		}
		span {
			position: relative;
			display: inline-block;
			&.active {
				animation: smoke 2s linear forwards;
				transform-origin: bottom;
			}
		}
	}
}

@keyframes smoke {
	0% {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0) translateY(0) rotate(0deg) scale(1);
		// transform: scale(1);
	}
	50% {
		opacity: 1;
		pointer-events: none;
	}
	100% {
		opacity: 0;
		filter: blur(20px);
		transform: translateX(300px) translateY(-300px) rotate(0deg) scale(4);
		// transform: scale(4);
	}
}
</style>
