<template>
  <!-- <p class="typing">Because no one bother caring about idiots.</p> -->
  <section class="container">
    <h1 class="w-80 mrow-30">
      <span class="label">Q: </span>
      Why does fate always mess up with geniuses?
    </h1>
    <h1 class="w-80 mrow-30">
      <span class="label">A: </span>
      <span class="answer">Because no one bother caring about idiots.</span>
    </h1>
  </section>
</template>

<script>
export default {
  data() {
    return {};
  },
  mounted() {
    const txt = document.querySelector('.answer');
    txt.innerHTML = txt.textContent.replace(
      /[\s\S]/g,
      `<span ${txt.attributes[0].name} class="txt">$&</span>`
    );

    const letters = document.querySelectorAll('.txt');
    let delay = 0;
    letters.forEach(span => {
      delay += 0.41;
      span.style.setProperty('--delay', `${delay}s`);
    });
    console.log(letters);
    // letters.reduce((perv, curr) => {
    //   curr.style.setProperty('--delay', `${perv}s`);
    //   perv++;
    //   return perv;
    // }, 0);
  }
};
</script>

<style lang="less" scoped>
// .typing {
//   width: 15em;
//   white-space: nowrap; // 重点
//   border-right: 2px solid transparent;
//   animation: typing 3.5s steps(42, end), blink-caret 0.75s step-end infinite;
//   overflow: hidden;
// }
// /* 打印效果 */
// @keyframes typing {
//   from {
//     width: 0;
//   }
//   to {
//     width: 15em;
//   }
// }
// /* 光标闪啊闪 */
// @keyframes blink-caret {
//   from,
//   to {
//     box-shadow: 1px 0 0 0 transparent;
//   }
//   50% {
//     box-shadow: 1px 0 0 0;
//   }
// }
.w-80 {
  min-width: 80vw;
}
.mrow-30 {
  margin: 0 30px;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  h1 {
    line-height: 1.6;
    font-family: monospace;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .label {
      font-size: 1.2em;
      padding-right: 10px;
    }
    .answer {
      position: relative;
      line-height: 1.4;
      height: 1.4em;
      display: inline-block;
      // overflow: hidden;
      white-space: nowrap;
      // animation: typing 10s steps(42, end) forwards;
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 1.4em;
        background-color: #000;
        border-radius: 2px;
        right: -8px;
        animation: sharing 0.4s infinite;
      }
      .txt {
        display: inline-block;
        width: 0ch;
        overflow: hidden;
        animation: 0.41s typing ease-in-out forwards;
        animation-delay: var(--delay);
      }
    }
  }
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 1ch;
  }
}
@keyframes sharing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
